monitor-ws/src/main/resources/HTTPAccessData.wsdl

<?xml version="1.0"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://endpoint.generated.cxf.webservice.monitor.jrpe.dk/"
	name="HTTPAccessDataService"
	targetNamespace="http://endpoint.generated.cxf.webservice.monitor.jrpe.dk/">
	<wsdl:types>
		<xsd:schema 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="http://endpoint.generated.cxf.webservice.monitor.jrpe.dk/"
			elementFormDefault="qualified" 
			targetNamespace="http://endpoint.generated.cxf.webservice.monitor.jrpe.dk/">

			<xsd:element name="sendHTTPAccessData" type="tns:sendHTTPAccessData" />
			<xsd:element name="sendHTTPAccessDataResponse" type="tns:sendHTTPAccessDataResponse" />

			<xsd:complexType name="sendHTTPAccessData">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="HTTPAccessData" type="tns:HTTPAccessData" />
				</xsd:sequence>
			</xsd:complexType>

            <xsd:complexType name="sendHTTPAccessDataResponse">
                <xsd:sequence>
                    <xsd:element name="status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

			<xsd:complexType name="HTTPAccessData">
				<xsd:sequence>
					<xsd:element name="command" type="xsd:string" />
					<xsd:element name="httpStatus" type="xsd:string" />
					<xsd:element name="ipAddress" type="xsd:string" />
					<xsd:element name="action" type="xsd:string" />
					<xsd:element name="url" type="xsd:string" />
					<xsd:element name="date" type="xsd:string" />
					<xsd:element name="dateToMinute" type="xsd:string" />
					<xsd:element name="dateTime" type="xsd:string" />
					<xsd:element name="requests" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="sendHTTPAccessData">
		<wsdl:part name="sendHTTPAccessData" element="tns:sendHTTPAccessData" />
	</wsdl:message>

	<wsdl:message name="sendHTTPAccessDataResponse">
		<wsdl:part name="sendHTTPAccessDataResponse" element="tns:sendHTTPAccessDataResponse" />
	</wsdl:message>

	<wsdl:portType name="HTTPAccessDataPort">
		<wsdl:operation name="sendHTTPAccessData">
			<wsdl:input message="tns:sendHTTPAccessData" name="sendHTTPAccessData" />
			<wsdl:output message="tns:sendHTTPAccessDataResponse" name="sendHTTPAccessDataResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HTTPAccessDataBinding" type="tns:HTTPAccessDataPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendHTTPAccessData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sendHTTPAccessData">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="sendHTTPAccessDataResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HTTPAccessDataService">
		<wsdl:port name="HTTPAccessDataPort" binding="tns:HTTPAccessDataBinding">
			<soap:address location="http://localhost:8080/monitor/HTTPAccessDataPort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>    