monitor-ws/src/main/resources/HTTPAccessData.wsdl

<?xml version="1.0"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://sync.endpoint.generated.cxf.webservice.monitor.jrpe.dk/"
	targetNamespace="http://sync.endpoint.generated.cxf.webservice.monitor.jrpe.dk/">
	<wsdl:types>
		<xs:schema 
			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
			xmlns:tns="http://sync.endpoint.generated.cxf.webservice.monitor.jrpe.dk/"
			attributeFormDefault="unqualified" 
			elementFormDefault="unqualified" 
			targetNamespace="http://sync.endpoint.generated.cxf.webservice.monitor.jrpe.dk/">

			<xs:element name="sendHTTPAccessData" type="tns:sendHTTPAccessData" />

			<xs:complexType name="sendHTTPAccessData">
				<xs:sequence>
					<xs:element minOccurs="0" name="HTTPAccessData" type="tns:HTTPAccessData" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="HTTPAccessData">
				<xs:sequence>
					<xs:element name="command" type="xs:string" />
					<xs:element name="httpStatus" type="xs:string" />
					<xs:element name="ipAddress" type="xs:string" />
					<xs:element name="action" type="xs:string" />
					<xs:element name="url" type="xs:string" />
					<xs:element name="date" type="xs:string" />
					<xs:element name="dateToMinute" type="xs:string" />
					<xs:element name="dateTime" type="xs:string" />
					<xs:element name="requests" type="xs:long" />
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>

	<wsdl:message name="sendHTTPAccessData">
		<wsdl:part name="sendHTTPAccessData" element="tns:sendHTTPAccessData" />
	</wsdl:message>

	<wsdl:portType name="HTTPAccessDataPort">
		<wsdl:operation name="sendHTTPAccessData">
			<wsdl:input message="tns:sendHTTPAccessData" name="sendHTTPAccessData" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HTTPAccessDataBinding" type="tns:HTTPAccessDataPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendHTTPAccessData">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="sendHTTPAccessData">
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HTTPAccessDataService">
		<wsdl:port name="HTTPAccessDataPort" binding="tns:HTTPAccessDataBinding">
			<soap:address location="http://localhost:8080/monitor-ws/httpaccessdata" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>    